<footer class="footer">
    <div class="footer-container">
        <p class="made-by">Made by Camilo Joga -<a href="https://github.com/Camilool8" class="github-link">@Github</a>
            &copy; 2023</p>
    </div>
</footer>