<header>
    <nav>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/clients">Clientes</a></li>
            <li><a href="/products">Productos</a></li>
        </ul>
    </nav>
</header>