<%- include('partials/html-dashboard') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container">
                <h1>Eliga una opcion</h1>
                <br>
                <a href="/sales/cash" class="new-sale-button">Nueva venta efectivo</a>
                <a href="/sales/credit" class="new-sale-button">Nueva venta a credito</a>
            </div>
    </body>

    </html>